<%= link_to 'Ir al Dashboard', proyectos_dashboard_path %><br>

<form action="/proyectos/create" method="POST">
    <%= token_tag %>

    <div class="form-group">
        <label for="name">Nombre</label>
        <input name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Descripcion</label>
        <input name="description" class="form-control">
    </div>

    <div class="form-group">
        <label for="date_start">Fecha de Inicio</label>
        <input type="date" name="date_start" class="form-control">
    </div>

    <div class="form-group">
        <label for="date_end">Fecha de Término</label>
        <input type="date" name="date_end" class="form-control">
    </div>

    <div class="form-group">
        <label for="state">Estado</label>
        <select name="state">
            <option value="propuesta" selected >Propuesta</option>
            <option value="progreso">En progreso</option>
            <option value="terminado">Terminado</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
</form>